# Node
node_modules/
npm-debug.log


# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local


# Editor directories and settings
.vscode/
.idea/



# SQLite DB files
# Ignore database files if you DO NOT want to commit them
*.db
*.sqlite
*.sqlite3